.lacuna {
    display: inline-block;
    font-size: 2em;
    border: solid 2px;
    padding: 4%;
    margin: 1%;
}
.entrada {
    margin-bottom: 10px;
}
.reiniciar {
    display: block;
    margin: auto;
    
}